#menu{
    width: 100%;
    display: flex;
    padding-left: 10px;
    display: flex;
    border-bottom:2px solid crimson;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}

#headerNav{
  display: none;
}

#NavMenu{
  display:flex;
  justify-content:center;
  padding-top: 30px;
}

#NavMenu li{
  padding-left: 20px;
  padding-top: 8px;
}

#btnMenu{
  padding-top: 25px;
  color: crimson;
}

#logoAP{
padding-top: 20px;
}

h4{
  padding-top: 33px;
}

@media screen and (min-width: 800px){
  #ancho{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

 #headerNav{
  display: flex;
  padding-top: 30px;
  background-color: whitesmoke;
  padding-bottom: 20px;
  border-bottom:2px solid crimson;
  justify-content: space-around;
  font-size: large;
 }

 #headerNav li{
  padding-right: 10px;
  flex-wrap: nowrap;
 }

 #headerNav li a{
  color: white;
 }

 #headerNav li a:hover{
 border-bottom: 2px solid crimson;
 border-radius: 5px;
 }

 #logo{
  margin-bottom: 15px;
 }

 #NavMenu,
 #menu{
  display: none;
 }
}


