footer{
    background-color: black;
    height: 10vh;
    text-align: center;
    color: white;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}