#form{
    margin-right: 30px;
    margin-bottom: 80px;
    }
    
#buttons{
    display: flex;
    justify-content:center;
}
        
#buttons .btn{
    margin-bottom: 50px;
    margin-top: 70px;
}

.btn{
    margin: 5px;
}


h3{
    color: black;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: left;
}