
<div id="contac">
<h3 class="titulo">CONTÁCTO</h3><br>

<div class="mb-3" id="form">

  <form action="mailto:anasolfran@hotmail.com" method="post" enctype="text/plain">

  <input class="form-control" aria-label="First name" type="text" name="Nombre" size="30" maxlength="100" placeholder="Nombre y apellido"> <br> 

<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="Email" size="30" maxlength="100" value="@"><br>

<div class="mb-3">
  <textarea cols="30" rows="7" name="comentarios" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br>
</div>

<div id="buttons">
<button input type="submit" value="Enviar formulario"class="btn btn-outline-success">Enviar</button>
<button input type="Reset" value="Borrar todo" class="btn btn-outline-success">Borrar</button>
</div>
</form> 
</div>
</div>