<div id="educacion">
    <h3 class="titulo">Cursos</h3>
        <div id="texto">
        <p id="p1">Cursos orientados a la capacitación en el área del desarrollo web y relacionados a tecnologías afines destinadas a gestionar de manera ágil y dinámica dicho proceso.</p>
        </div>

        <ul id="datos">
        <li class="imgCont"><img src="/assets/Imagenes/Certificate_page-0001.jpg" alt="" width="150px" height="100px;"><br>
        <p class="info">Agosto 2022: Curso Scrum  </p>
        </li>

        <li class="imgCont"><img src="/assets/Imagenes/argentina_programa_2022 (1)_page-0001.jpg" alt="" width="150px" height="100px;"><br>
            <p class="info">Agosto 2022: Argentina Programa primera etapa. </p>
            </li>

            <li class="imgCont"><img src="/assets/Imagenes/CertificadoDeFinalizacion_GitHub para programadores_page-0001.jpg" alt="" width="150px" height="100px;"><br>
                <p class="info">Curso GitHub  </p>
                </li>

                <li class="imgCont"><img src="/assets/Imagenes/CodoaCodoLogo.png" alt="" width="150px" height="100px;"><br>
                    <p class="info">2022: Curso Codo a Codo. En curso. </p>
                    </li>

                    <li class="imgCont"><img src="/assets/Imagenes/Diploma_Acc.jpg" alt="" width="150px" height="100px;"><br>
                        <p class="info">Curso Accenture  </p>
                        </li>

                        <!-- Agregar evento para generar más campos -->
</ul>
</div>