<div id="todo">
    <div id="ti"><h3 class="titulo">CURSOS</h3></div>
<div id="content">

    <div id="text">
    <p id="p1">Cursos orientados a la capacitación en el área del desarrollo web y relacionados a tecnologías afines destinadas a gestionar de manera ágil y dinámica dicho proceso.</p>
    </div><br>

    <div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="/assets/Imagenes/Certificate_page-0001.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo </p>
                </div>
                
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/assets/Imagenes/argentina_programa_2022 (1)_page-0001.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Esta tarjeta tiene texto de apoyo a continuación como una introducción natural a contenido adicional.</p>
                </div>
                
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/assets/Imagenes/CertificadoDeFinalizacion_GitHub para programadores_page-0001.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo</p>
                </div>
               
              </div>
            </div>
          </div><br>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="/assets/Imagenes/LogoCac.png" alt="LogoCac" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo </p>
                </div>
                
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/assets/Imagenes/imagepng.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Esta tarjeta tiene texto de apoyo a continuación como una introducción natural a contenido adicional.</p>
                </div>
                
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/assets/Imagenes/Diploma_Acc.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo</p>
                </div>
                
              </div>
            </div>
          </div>
    </div>