#educacion{
    background-color: hwb(0 100% 0% / 0.911);
    width: 95%;
    border-radius: 5px;
}

 @media screen and (min-width: 700px){
    #educacion{
        background-color: hwb(0 100% 0% / 0.911);
        width: 95%;
        height: 90vh;
        border-radius: 10px;
        margin-top: 20px;
        padding-left: 50px;
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
    }
} 

#texto{
   color: black;
   margin-left: 50px;
   padding-right: 10px;
   padding-bottom: 30px;
}

#datos{
    margin-left: 30px;
}

#datos li{
    padding-bottom: 30px;
    border-bottom: 1px solid gainsboro;
    margin: 3%;
    border-radius: 3px ;
    text-align: center;
}

#datos li:hover{
border-color: crimson
}



h3{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
}

.imgCont{
width:200px ;
height: 200px;
margin-left: 30px;
}

.info{
padding-top: 10px;
}

.imgCont img{
    transition: transform .3s;    
    border-radius: 10px;
}

.imgCont img:hover{
    transform: scale(1.5); 
}