<div id="todo">
<h3>Proyectos</h3>
<div id="proyectos">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Título de la tarjeta</h5>
              <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo </p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Título de la tarjeta</h5>
              <p class="card-text">Esta tarjeta tiene texto de apoyo a continuación como una introducción natural a contenido adicional.</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Título de la tarjeta</h5>
              <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo</p>
            </div>
           
          </div>
        </div>
      </div>

</div>
</div>