#lateralUno{
    padding-top: 28%;
    padding-right: 10px;
    width: 100%;
    background-color: white;
    height: 100%;
    display: none;
}

#lateralUno li{
    list-style-type: none;
    padding-top: 40px;
}

#lateralUno li a{
    text-decoration: none;
    color: rgb(33, 30, 30)
}