 #uno{
       display: flex;
       flex-direction: column;
       margin-left: 10px;
       margin-right: 20px;
    }

    #dos{
        height: 100%;
        background-color: bisque;

    }

    #tres{
        height: 100%;
        background-color: cornsilk;
        padding-top: 50px;  
    }

     #cuatro{
        background-color:blanchedalmond;
        height: 20%;
        margin-left: 10px;
        margin-right: 20px;
    } 

    h3{
        text-align: center;
        padding-top: 90px;
        margin-top: 20px;
        margin-bottom: 10px;
        color: white;
    }

    @media screen and (min-width: 700px){
        #uno{
        display: flex;  
        flex-direction: row;
        height: 100vh;
        }

        #dos{
            background-color:bisque;
            width: 30%;
        }
    
        #tres{
            background-color:cornsilk;
            padding-right: 50px;
            width: 70%;
        }

         #cuatro{
           background-color:blanchedalmond;
        } 

        #datos li{
            padding-bottom: 30px;
            border-bottom: 1px solid gainsboro;
            margin: 3%;
            border-radius: 3px ;
            text-align:justify;
    }
    } 
    
#p1{
    color: black;
    margin-left: 50px;
    padding-top: 50px;
    margin-right: 30px;
    text-align: justify;
}

#datos li{
    padding-bottom: 30px;
    border-bottom: 1px solid gainsboro;
    margin: 3%;
    border-radius: 3px ;
    text-align:center;
}

#datos li:hover{
    border-color: crimson
    }

    
     