<!-- <div id="sobreMi">
<h3 class="titulo">SOBRE Mí</h3>
        <div id="texto">
        <p id="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam numquam natus est aut magni architecto suscipit delectus, consequuntur voluptatem quisquam.</p>
      </div>
      <div id="info">
      <ul id="datos">
      <li>Nombre: Ana Sol Franchisena.</li>
      <li>Email: anasolfran@hotmail.com</li>
      <li>Teléfono: (54) 351 3285087.</li>
      <li>Ciudad de Córdoba</li>
      <li>República Argentina.</li>
      </ul>
    </div>
</div>  -->
<div id="cuatro"><h3 class="titulo">SOBRE Mí</h3></div>

<div id="uno">
<div id="dos"><p id="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam numquam natus est aut magni architecto suscipit delectus, consequuntur voluptatem quisquam.</p></div>
<div id="tres">
  <div id="info">
  <ul id="datos">
  <li>Nombre: Ana Sol Franchisena.</li>
  <li>Email: anasolfran@hotmail.com</li>
  <li>Teléfono: (54) 351 3285087.</li>
  <li>Ciudad de Córdoba</li>
  <li>República Argentina.</li>
  </ul></div>
</div>
</div>

