<div id="cuatro">
    <h3 class="titulo">Hard & Soft Skills</h3>
</div> 

<!-- <div id="contentProgress">
    
<div id="skills"> -->
<!-- <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JAVASCRIPT</li>
    <li>GitHub</li>
    <li>TypeScript</li>
    <li>Scrum</li>
    <li>Base de Datos</li>
    <li>Java</li>
</ul>
</div>
<div id="progress">
<ul id="progressUL">
 <li><ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></li>
 <li><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></li>
 <li><ngb-progressbar type="danger" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></li>
 <li><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></li>
 <li><ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></li>
 <li><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></li>   
 <li><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></li>  
 <li><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></li>  
</ul> -->

<table class="table">
    <thead>
      <tr>
        <th scope="col">Primero</th>
        <th scope="col">Último</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>

        <td>Mark</td>
        <td><ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></td>
       
      </tr>
      <tr>
    
        <td>Jacob</td>
        <td><ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></td>
       
      </tr>
      <tr>

        <td>Mark</td>
        <td><ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></td>
       
      </tr>
      <tr>
    
        <td>Jacob</td>
        <td><ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></td>
       
      </tr>

      <tr>

        <td>Mark</td>
        <td><ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></td>
       
      </tr>
      <tr>
    
        <td>Jacob</td>
        <td><ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></td>
       
      </tr>

    </tbody>
  </table>
<!-- </div> -->